<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/images/ellie.webp" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof PageTitle !== 'undefined' ? PageTitle : 'Default Title' %></title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/header.css">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <header>      
      <h1>Welcome to the World of Family Games!</h1>      
      <div id="User-Management">
         <%-include('./userInfo') %>
      </div>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/friends">Friends</a></li>
      </ul>
    </nav>
    </div>
  <section class="FromMenuToFooter">

  