<%- include('layouts/header') %>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
      var socket = io();

      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', function(msg) {
        if(msg==='clear' || msg==='پاک')
        {
          document.getElementById('messages').innerHTML = '';

        }
        else
        {        var item = document.createElement('li');
          item.textContent = msg;
          document.getElementById('messages').appendChild(item);
        }

      });
    </script>
<%- include('layouts/footer') %>
