<%- include('layouts/header') %>
    <section class="more-games">
      <figure>
          <img src="/images/grps/rock.webp" alt="Featured Game">
          <figcaption></figcaption>
      </figure>
      <figure>
        <img src="/images/grps/paper.webp" alt="Featured Game">
        <figcaption></figcaption>
    </figure>
      <figure>
        <img src="/images/grps/scissors.webp" alt="Featured Game">
        <figcaption></figcaption>
    </figure>    
      <figure>
        <img src="/images/ellie_cartoon.webp" alt="Featured Game">
        <figcaption></figcaption>
    </figure>     
    </section>
    <h2>Girl</h2>
    <hr>
    <section class="more-games">
      <figure>
        <img src="/images/e1.webp" alt="Featured Game">
        <figcaption>1</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e2.webp" alt="Featured Game">
        <figcaption>2</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e3.webp" alt="Featured Game">
        <figcaption>3</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e4.webp" alt="Featured Game">
        <figcaption>4</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e5.webp" alt="Featured Game">
        <figcaption>5</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e6.webp" alt="Featured Game">
        <figcaption>6</figcaption>
    </figure>                    
      <figure>
        <img src="/images/e7.webp" alt="Featured Game">
        <figcaption>7</figcaption>
    </figure>                    
    </section>
    <h2>Boys</h2>
    <hr>
    <section class="more-games">
        <figure>
            <img src="/images/b1.webp" alt="Featured Game">
            <figcaption>1</figcaption>
        </figure>                    
          <figure>
            <img src="/images/b2.webp" alt="Featured Game">
            <figcaption>2</figcaption>
        </figure>                    
          <figure>
            <img src="/images/b3.webp" alt="Featured Game">
            <figcaption>3</figcaption>
        </figure>                    
          <figure>
            <img src="/images/b4.webp" alt="Featured Game">
            <figcaption>4</figcaption>
        </figure>                    
    </section>

<%- include('layouts/footer') %>
