<%- include('layouts/header') %>
    <section class="more-games">
      <div class="game">
          <img src="/images/grps/rock.webp" alt="Featured Game">
      </div>
      <div class="game">
        <img src="/images/grps/paper.webp" alt="Featured Game">
      </div>
      <div class="game">
        <img src="/images/grps/scissors.webp" alt="Featured Game">
      </div>    
      <div class="game">
        <img src="/images/ellie_cartoon.webp" alt="Featured Game">
      </div>        
    </section>

<%- include('layouts/footer') %>
