<%- include('layouts/header',{PageTitle:'Family Game'}) %>
    <section class="more-games">
      <div class="game">
          <img src="/images/ellie.webp" alt="Featured Game">
      </div>
      <div class="game">
        <img src="/images/shabnam.webp" alt="Featured Game">
      </div>
    </section>

<%- include('layouts/footer') %>
