body {
    font-family: 'Comic Neue', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.featured-game {
    text-align: center;
}

.featured-game img {
    width: 80%;
    max-width: 400px;
}

.more-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.game {
    text-align: center;
    margin-bottom: 20px;
    height:400px;
}

.game img {
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
