html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Comic Neue', cursive;
    background-color: #f0f0f0;
  }
  
  .FromMenuToFooter {
    flex: 1;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
  }

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.together-elements{
    display: inline-block;
}

nav {
    background-color: #333;
    overflow: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.featured-game {
    text-align: center;
}

.featured-game img {
    width: 80%;
    max-width: 400px;
}

.more-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.game {
    text-align: center;
    margin-bottom: 20px;
    height: 400px;
}

.game img {
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.TwoColumn{
    display: grid;
    grid-template-columns: auto auto;
}

.CenterInThePage{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.error{
    color: red;
}

.largeFont{
    font-size: xx-large;
}



.form-container {
    background-color: white;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
 .form-container h2{
    text-align: left;
    margin-top: 0px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ffbb00;
  }
  

